*/*.cm*
*/*.byte
*/*.opt
*.opt
*/camlp5.*
tests-*/_build
*/*.o
*/*.a
local-install
*/.depend.NEW
META
*/camlp5*.pa_*
camlp5*.pa_*
tests-*/*.corrected
*/*.odoc
docs
.tramp_history
*/.tramp_history
*/*/.tramp_history
.merlin
*/.merlin
*/*/.merlin
_build
*.ppo*
*_ppo*
